.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.layout-main {
  flex: 1;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  max-width: calc(100% - 200px);
}

.layout-content {
  flex: 1;
  padding: 20px;
  margin-top: 70px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .layout-main {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  
  .layout-content {
    margin-top: 130px;
  }
}
